<html>
    <head>

    </head>
    <body>
        <h1>Impossible de traiter de votre demande</h1>

        <p>Une erreur inattendue est survenue et nous ne pouvons traiter ou finir le traitement de votre demande.</p>
        <ul>
            <li>Erreur : {{ exception.message }}</li>
            <li>Code Erreur : {{ exception.code }}</li>
        </ul>
        <br/>
        <p>Nous nous excusons pour la gêne occasionnée.</p>
        <p>L'équipe technique</p>
    </body>
</html>